 .scroll-container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  overflow-x: auto;
}

.courses-wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 10px; /* Add some bottom padding to accommodate the scrollbar */
}

.display {
    flex: 0 0 auto;
    width: 350px; /* Adjust the width as per your design */
    height: 400px; /* Adjust the height as per your design */
    margin-left: 20px;
    margin-right: 20px; /* Adjust the margin as per your design */
    background-color: rgba(26, 97, 83, 0.267);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}
 .display:hover{
     outline-color: white;
     transition: all 0.5s;
 }
 div.display:hover{
     outline-color: white;
     transition: all 0.5s;
 }

.display img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.display h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.display p {
    font-size: 14px;
    margin-bottom: 5px;
}

.display hr {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 0;
    border: none;
    border-top: 1px solid white;
}

